<!DOCTYPE html>

@using System.Data;
@using XmlCrud.App_Code;

@{
    SongMethods mySongMethods = new SongMethods();
    string file = @"~\App_Data\Playlist.xml";
    DataSet ds = mySongMethods.GetAllSongs(file);
    Session["playlistClass"] = mySongMethods;
    Session["file"] = file;
}
<html>
<head>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

</head>
<body>
    <br /><br />

    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Year</th>
            <th>Gerne</th>
            <th>Time</th>
            <th>File</th>
        </tr>
            @foreach (DataRow dr in ds.Tables["song"].Rows)
            {
            <tr>
                <td>@dr["id"]</td>
                <td>@dr["artist"]</td>
                <td>@dr["title"]</td>
                <td>@dr["year"]</td>
                <td>@dr["gerne"]</td>
                <td>@dr["time"]</td>
                <td>@dr["file"]</td>
                <td><a href="~/Pages/EditSong.cshtml?id=@dr["id"]"><i class="fa fa-edit"></i></a></td>
                <td><a href="~/Pages/DeleteSong.cshtml?id=@dr["id"]"><i class="fa fa-trash"></i></a></td>
                <td><i class="fa fa-play" onclick="document.getElementById('@dr["id"]').play();document.getElementById('@dr["id"]a').style.display = 'block' "></i><audio id="@dr["id"]" src="~/Uploads/@dr["file"]">
                <td><i id="@dr["id"]a" style="display:none;" class="fa fa-pause" onclick="document.getElementById('@dr["id"]').pause(); document.getElementById('@dr["id"]a').style.display= 'none' "></i></td>
                </audio></td>
            </tr>
        }
        </table>

        <br /><br />
        <a href="Pages\CreateSong.cshtml">Een nieuwe song toevoegen.</a>
        <br /><br />
        <a href="~/indexJson.cshtml">Klik hier om naar het json gedeelte te gaan!!</a>

    </body>
</html>