@using XmlCrud.App_Code;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;


@{
    var jsonInput = File.ReadAllText(HttpContext.Current.Server.MapPath(@"~\App_Data\Playlist.json"));
    //Song song = Newtonsoft.Json.JsonConvert.DeserializeObject<Song>(jsonInput);
    Songs songs = Newtonsoft.Json.JsonConvert.DeserializeObject<Songs>(jsonInput);
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Year</th>
                <th>Genre</th>
                <th>Time</th>
                <th>File</th>
            </tr>
            @foreach (Song song in songs.songs)
            {
        <tr>
            <td>@song.id</td>
            <td>@song.artist</td>
            <td>@song.title</td>
            <td>@song.year</td>
            <td>@song.genre</td>
            <td>@song.time</td>
            <td>@song.file</td>
            <td><a href="~/Pages/json/EditSong.cshtml?id=@song.id"><i class="fa fa-edit"></i></a></td>

        </tr>
            }
        </table>
    </div>
    <br /><br />
    <a href="Pages\json\createSong.cshtml">Een nieuwe song toevoegen.</a>
    <br /><br />
    <a href="~/index.cshtml">Klik hier om naar het xml gedeelte te gaan!!</a>
</body>
</html>
